extends layout

block content
  <nav class="navbar navbar-expand-lg navbar-light bg-light">    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/list'>Lihat List Peserta</a>
        </li>        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  h1 Silahkan Isi Form Dibawah ini
  form(method='POST' action='/post')
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nama</label>
        <input type="text" name="nama" class="form-control" id="inputName4" placeholder="Nama">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Alamat</label>
        <input type="text" name="alamat" class="form-control" id="inputAddress4" placeholder="Alamat">
      </div>
    </div>  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Nomor Telepon</label>
        <input type="text" name="noHp" class="form-control" id="inputPhoneNumber">
      </div>    
    </div>  
    <button type="submit" class="btn btn-primary">Kirim</button>
